# DSCI 503 - Project 01
### Symphony Hopkins

# Introduction

We will analyze the gapminder dataset, which contains socioeconomic information from 184 countries from the years 1800 to 2018.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 4
print('Country:         ', country[N])
print('Continent:       ', continent[N])
print('Year:            ', year[N])
print('Population:      ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP:  ', pcgdp[N])
print('Gini Index:      ', gini[N])

Country:          Antigua and Barbuda
Continent:        americas
Year:             1800
Population:       37000
Life Expectancy:  33.5
Per Capita GDP:   757
Gini Index:       40.0

# Part 1: Displaying Past 20 Years of US Data

We will create a loop where each iteration displays a year of data from U.S. over a period of 20 years, from 1999 to 2018.

In [4]:
print('''
Year    Country          Population   LExp    pcGDP    Gini
-----------------------------------------------------------''')
for index in range(len(year)):
    if (year[index] >= 1999) and (country[index] == 'United States'):
        print(f'''
{year[index]}    {country[index]}    {population[index]}    {life_exp[index]}    {pcgdp[index]}    {gini[index]}''')

Year    Country          Population   LExp    pcGDP    Gini
-----------------------------------------------------------

1999    United States    279000000    76.8    44700    40.5

2000    United States    282000000    76.9    46000    40.5

2001    United States    285000000    77.0    46000    40.5

2002    United States    288000000    77.1    46400    40.5

2003    United States    290000000    77.3    47300    40.5

2004    United States    293000000    77.5    48600    40.6

2005    United States    295000000    77.7    49800    40.7

2006    United States    298000000    77.9    50600    40.8

2007    United States    301000000    78.1    51000    40.8

2008    United States    303000000    78.3    50400    40.8

2009    United States    306000000    78.6    48600    40.7

2010    United States    309000000    78.7    49400    40.7

2011    United States    311000000    78.8    49800    40.7

2012    United States    313000000    78.9    50500    40.8

2013    United States    316000000    78.9    51000    41.0

2014    United States    318000000    78.9    51800    41.2

2015    United States    320000000    78.8    52800    41.3

2016    United States    322000000    78.8    53300    41.4

2017    United States    324000000    79.0    54200    41.5

2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data

We will create lists for each column in the dataset, and fill them with information from the year 2018. Then, we will calculate the global population in 2018 to verify that the lists were filled correcly.

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for index in range(len(year)):
    if year[index] == 2018:
        country_2018.append(country[index])
        population_2018.append(population[index])
        continent_2018.append(continent[index])
        life_exp_2018.append(life_exp[index])
        pcgdp_2018.append(pcgdp[index])
        gini_2018.append(gini[index])

In [6]:
global_population_2018 = sum(population_2018)
print(f'The global population in 2018 was {global_population_2018}.')

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations

We will identify countries with the largest and smallest population by sorting through the list we previously created in Part 2.

In [7]:
copy_population_2018 = population_2018.copy()
desc_population_2018 = sorted(copy_population_2018, reverse = True)
tenth_largest_pop = desc_population_2018[9]

print('''
Countries with Largest Populations in 2018
-----------------------------------------------------------''')
for index in range(len(population_2018)):
    if (population_2018[index] >= tenth_largest_pop):
        print(f'''
The population of {country_2018[index]} in 2018 was {population_2018[index]}.''')

Countries with Largest Populations in 2018
-----------------------------------------------------------

The population of Bangladesh in 2018 was 166000000.

The population of Brazil in 2018 was 211000000.

The population of China in 2018 was 1420000000.

The population of India in 2018 was 1350000000.

The population of Indonesia in 2018 was 267000000.

The population of Mexico in 2018 was 131000000.

The population of Nigeria in 2018 was 196000000.

The population of Pakistan in 2018 was 201000000.

The population of Russia in 2018 was 144000000.

The population of United States in 2018 was 327000000.

In [8]:
asc_population_2018 = sorted(copy_population_2018)
tenth_smallest_pop = asc_population_2018[9]

print('''
Countries with Smallest Populations in 2018
-----------------------------------------------------------''')
for index in range(len(population_2018)):
    if (population_2018[index] <= tenth_smallest_pop):
        print(f'''
The population of {country_2018[index]} in 2018 was {population_2018[index]}.''')

Countries with Smallest Populations in 2018
-----------------------------------------------------------

The population of Antigua and Barbuda in 2018 was 103000.

The population of Grenada in 2018 was 108000.

The population of Kiribati in 2018 was 118000.

The population of Micronesia, Fed. Sts. in 2018 was 106000.

The population of Samoa in 2018 was 198000.

The population of Sao Tome and Principe in 2018 was 209000.

The population of Seychelles in 2018 was 95200.

The population of St. Lucia in 2018 was 180000.

The population of St. Vincent and the Grenadines in 2018 was 110000.

The population of Tonga in 2018 was 109000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies

We will identify countries with the highest and lowest life expectancies by sorting through the list we previously created in Part 2.

In [9]:
copy_life_exp_2018 = life_exp_2018.copy()
desc_life_exp_2018 = sorted(copy_life_exp_2018, reverse = True)
tenth_highest_exp = desc_life_exp_2018[9]

print('''
Countries with Highest Life Expectancy in 2018
-----------------------------------------------------------''')
for index in range(len(life_exp_2018)):
    if (life_exp_2018[index] >= tenth_highest_exp):
        print(f'''
The life expectancy of {country_2018[index]} in 2018 was {life_exp_2018[index]}.''')

Countries with Highest Life Expectancy in 2018
-----------------------------------------------------------

The life expectancy of Australia in 2018 was 82.9.

The life expectancy of France in 2018 was 82.6.

The life expectancy of Iceland in 2018 was 82.6.

The life expectancy of Israel in 2018 was 82.4.

The life expectancy of Italy in 2018 was 82.6.

The life expectancy of Japan in 2018 was 84.2.

The life expectancy of Luxembourg in 2018 was 82.4.

The life expectancy of Norway in 2018 was 82.4.

The life expectancy of Singapore in 2018 was 84.0.

The life expectancy of Spain in 2018 was 83.2.

The life expectancy of Sweden in 2018 was 82.4.

The life expectancy of Switzerland in 2018 was 83.5.

In [10]:
asc_life_exp_2018 = sorted(copy_life_exp_2018)
tenth_lowest_exp = asc_life_exp_2018[9]

print('''
Countries with Lowest Life Expectancy in 2018
-----------------------------------------------------------''')
for index in range(len(life_exp_2018)):
    if (life_exp_2018[index] <= tenth_lowest_exp):
        print(f'''
The life expectancy of {country_2018[index]} in 2018 was {life_exp_2018[index]}.''')

Countries with Lowest Life Expectancy in 2018
-----------------------------------------------------------

The life expectancy of Afghanistan in 2018 was 58.7.

The life expectancy of Central African Republic in 2018 was 51.6.

The life expectancy of Chad in 2018 was 60.5.

The life expectancy of Guinea-Bissau in 2018 was 59.7.

The life expectancy of Lesotho in 2018 was 51.1.

The life expectancy of Sierra Leone in 2018 was 60.0.

The life expectancy of Somalia in 2018 was 58.0.

The life expectancy of Swaziland in 2018 was 58.6.

The life expectancy of Zambia in 2018 was 59.5.

The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by Country

We will use the pcGDP_2018 and population_2018 lists from Part 2 to calculate the GDP by country. Then, we will use the answer that we found to calculate the global GDP. Afterwards, we will identify the countries with the highest and lowest GDP.

In [11]:
gdp_2018 = []

for index in range(len(pcgdp_2018)):
    gdp = pcgdp_2018[index] * population_2018[index]
    gdp_2018.append(gdp)
    
total_gdp = sum(gdp_2018)
print(f'The total global GDP in 2018 was ${total_gdp}.')

The total global GDP in 2018 was $118225647770000.

In [12]:
highest_gdp = max(gdp_2018)
highest_gdp_index = gdp_2018.index(highest_gdp)
lowest_gdp = min(gdp_2018)
lowest_gdp_index = gdp_2018.index(lowest_gdp)

print(f'''
The country with the highest GDP in 2018 was {country[highest_gdp_index]} of {highest_gdp}.
The country with the highest GDP in 2018 was {country[lowest_gdp_index]} of {lowest_gdp}.
''')

The country with the highest GDP in 2018 was China of 22720000000000.
The country with the highest GDP in 2018 was Kiribati of 223020000.

# Part 6: Grouping by Continent

We will group the countries by continent by using the lists from Part 2 so that we can calculate the total population, pcGDP, and life expectancy by continent.

In [13]:
continent_names = ['africa', 'americas','asia','europe']
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

for continent in continent_names: 
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    num_of_countries = 0
    for index in range(len(continent_2018)):
        if continent_2018[index] == continent:    
            temp_life_exp += life_exp_2018[index] * population_2018[index]
            temp_pop += population_2018[index]
            temp_gdp += gdp_2018[index]
            num_of_countries += 1
            
    temp_life_exp = round(temp_life_exp/temp_pop, 0)
    temp_gdp = round(temp_gdp, 0)
        
    pcgdp_2018_by_continent.append(temp_gdp)
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(temp_life_exp)
    
print(f'''
Continent        Population       pcGDP            Life Exp
-----------------------------------------------------------
Africa           {pop_2018_by_continent[0]}        {pcgdp_2018_by_continent[0]}       {life_exp_2018_by_continent[0]}
Americas         {pop_2018_by_continent[1]}       {pcgdp_2018_by_continent[1]}       {life_exp_2018_by_continent[1]}
Asia             {pop_2018_by_continent[2]}       {pcgdp_2018_by_continent[2]}       {life_exp_2018_by_continent[2]}
Europe            {pop_2018_by_continent[3]}       {pcgdp_2018_by_continent[3]}       {life_exp_2018_by_continent[3]}
''')

Continent        Population       pcGDP            Life Exp
-----------------------------------------------------------
Africa           1287150200        6049509310000       66.0
Americas         1010978000       29023263900000       78.0
Asia             4455113000       56602608160000       73.0
Europe            841959000       26550266400000       78.0